@page "/wordlist"
@using Krestia.Web.Common
@inject HttpClient HttpClient
@if (_words is null) {
   <p>Loading...</p>
} else {
   <p class="centro">The dictionary contains @_words.Count words.</p>
   <WordTable Words="_words"/>
}

@code {
   private List<WordWithMeaning>? _words;

   protected override async Task OnAfterRenderAsync(bool firstRender) {
      if (firstRender) {
         _words = await HttpClient.GetFromJsonAsync<List<WordWithMeaning>>(
            "/api/wordlist/alphabetical");
         StateHasChanged();
      }
   }

}